.player {
  box-sizing: border-box;
  height: 100%;
  background-color: green;
  display: block;

  .hands-wrapper {
    height: 50%;
  }

  .hands-wrapper, .betsize-changer, .action-options-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;

    .inc-bet, .dec-bet {
      font-size: 24px;
      background-color: silver;
      padding: 10px;
      margin: 10px;
      border-radius: 8px;
    }

    .action-option {
      font-size: 12px;
      background-color: silver;
      padding: 5px 2px;
      margin: 2px;
      border-radius: 8px;
    }

    .bet-size {
      font-size: 36px;
    }
  }

  .action-options-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-wrapper {
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    border-radius: 20%;
    border: 1px solid black;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {

    .hands-wrapper, .betsize-changer, .action-options-wrapper {
      .inc-bet, .dec-bet {
        font-size: 36px;
        background-color: silver;
        padding: 20px;
        margin: 20px;
      }

      .action-option {
        font-size: 24px;
        background-color: silver;
        padding: 10px 5px;
        margin: 5px;
      }

      .bet-size {
        margin-top: 25px;
        font-size: 48px;
      }
    }
  }
}
