.home {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #00b300;

  ul.home-nav {
    background-color: red;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
}
